{% extends 'theme.html' %}

{% block content %}

<h3>
    Name:
    {% if photo.caption %}
    {{ photo.caption }}
    {% else %}
    whoops
    {% endif%}
</h3>

<p>
    <img class="photo" src="/{{ photo.file }}" alt="{{ photo.id }}">
</p>
<p>
    Strengths:
    {% if photo.caption %}
    {{ photo.caption }}
    {% else %}
    Is a Super Hero
    {% endif%}
<p>
</p>
    Weaknesses:
    {% if photo.caption %}
    {{ photo.caption }}
    {% else %}
    Is a Super Hero
    {% endif%}

</p>


{% endblock content %}