h1 {
    color: rgb(204, 47, 188);
}

.header {
    text-align: center;
}

.photo {
    margin: 2em;
    
}

.profileButton{
    background-color: rgb(79, 32, 124);
    margin-top: 2vh;
}

.btn-info{
    background-color: rgb(79, 32, 124);
    margin-top: 2vh;
    color: rgb(204, 47, 188);
    margin-bottom: 5vh;
}

.buttonContainer{
    width: 12vw;
}

.card{
    margin-top: 2vh;
    background-color: black;
}

.card-img-top{
    margin-top: 10px;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(204, 47, 188);
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-top: 2vh;
  }

 .notes-container {
    background-color: black;
    outline-color: aqua;
    color:azure;
 }