{% extends 'theme.html' %}

{% block content %}

<div class="container">
    <div class="row">

        {% for notes in object_list %}

        <div class="card col-4 m-5 p-5  bg-light text-dark ">

            <p>
                <a href="{{ notes.pk }}">
                    <b>{{ notes.hero }}</b>
                </a>
            </p>
            <p>
                {{ notes.body }}
            </p>

        </div>

        {% endfor %}

    </div>

    <div class="bg-dark text-light">
        <a href="/admin/" class="btn bg-primary text-light m-5">Admin Views</a>
    </div>
</div>




{% endblock content %}