{% extends 'theme.html' %}



{% block content %}

<div class="buttonContainer">
    <div class="row">

        {% for hero in object_list %}
        <button class="profileButton">
            <p>
                <a href="{{ hero.pk }}">
                    <b>{{ hero.name }}</b>
                </a>
            </p>
        </button>

        {% endfor %}

    </div>

</div>
<div class="bg-dark text-light">
    <a herf="/add" class="btn bg-success text-light m-5">Add new Hero</a>
</div>
    {% endblock content %}