h1 {
    color: rgb(204, 47, 188);
}

.header {
    text-align: center;
}

.photo {
    margin: 2em;
    border-radius: 10px;
}

.profileButton{
    background-color: rgb(79, 32, 124);
    margin-top: 2vh;
}

.buttonContainer{
    width: 12vw;
}